/* -------------------------------- 

File#: _1_filter
Title: Filter
Descr: A plugin to filter/sort items in a grid
Usage: codyhouse.co/license

-------------------------------- */
/* reset */
*, *::after, *::before {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: hsl(0, 0%, 100%);
  font-family: system-ui, sans-serif;
  color: hsl(230, 7%, 23%);
  font-size: 1rem;
}

h1, h2, h3, h4 {
  line-height: 1.2;
  color: hsl(230, 13%, 9%);
  font-weight: 700;
}

h1 {
  font-size: 2.0736rem;
}

h2 {
  font-size: 1.728rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.2rem;
}

ol, ul, menu {
  list-style: none;
}

button, input, textarea, select {
  background-color: transparent;
  border-radius: 0;
  color: inherit;
  line-height: inherit;
  appearance: none;
}

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}

a {
  color: hsl(250, 84%, 54%);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, video, svg {
  display: block;
  max-width: 100%;
}

@media (min-width: 64rem) {
  body {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 3.051rem;
  }

    h2 {
    font-size: 2.44rem;
  }

    h3 {
    font-size: 1.75rem;
  }

    h4 {
    font-size: 1.5625rem;
  }
}

/* variables */
:root {
  /* colors */
  --fe6-color-primary-hsl: 250, 84%, 54%;
  --fe6-color-bg-hsl: 0, 0%, 100%;
  --fe6-color-contrast-high-hsl: 230, 7%, 23%;
  --fe6-color-contrast-higher-hsl: 230, 13%, 9%;
  --fe6-color-accent-hsl: 342, 89%, 48%;
  --fe6-color-contrast-lower-hsl: 240, 4%, 85%;
  --fe6-color-contrast-medium-hsl: 225, 4%, 47%;

  /* spacing */
  --fe6-space-4xs: 0.125rem;
  --fe6-space-3xs: 0.25rem;
  --fe6-space-2xs: 0.375rem;
  --fe6-space-sm: 0.75rem;
  --fe6-space-md: 1.25rem;

  /* typography */
  --fe6-text-sm: 0.833rem;
  --fe6-text-md: 1.2rem;
}

@media(min-width: 64rem){
  :root {
    /* spacing */
    --fe6-space-4xs: 0.1875rem;
    --fe6-space-3xs: 0.375rem;
    --fe6-space-2xs: 0.5625rem;
    --fe6-space-sm: 1.125rem;
    --fe6-space-md: 2rem;

    /* typography */
    --fe6-text-sm: 1rem;
    --fe6-text-md: 1.5625rem;
  }
}

/* form elements */
.fe6-form-legend {
  color: hsl(var(--fe6-color-contrast-higher-hsl));
  line-height: 1.2;
  font-size: var(--fe6-text-md);
  margin-bottom: var(--fe6-space-sm);
}

/* component */


/* utility classes */
.fe6-text-center {
  text-align: center;
}

.fe6-color-contrast-medium {
  --fe6-color-o: 1;
  color: hsla(var(--fe6-color-contrast-medium-hsl), var(--fe6-color-o, 1));
}

.fe6-margin-top-md {
  margin-top: var(--fe6-space-md);
}

.fe6-radius-md {
  border-radius: 0.25em;
}

.fe6-padding-x-3xs {
  padding-left: var(--fe6-space-3xs);
  padding-right: var(--fe6-space-3xs);
}

.fe6-padding-y-4xs {
  padding-top: var(--fe6-space-4xs);
  padding-bottom: var(--fe6-space-4xs);
}

.fe6-text-sm {
  font-size: var(--fe6-text-sm);
}

.fe6-color-bg {
  --fe6-color-o: 1;
  color: hsla(var(--fe6-color-bg-hsl), var(--fe6-color-o, 1));
}

.fe6-bg-contrast-higher {
  --fe6-bg-o: 1;
  background-color: hsla(var(--fe6-color-contrast-higher-hsl), var(--fe6-bg-o, 1));
}

.fe6-justify-center {
  justify-content: center;
}

.fe6-flex-wrap {
  flex-wrap: wrap;
}

.fe6-gap-2xs {
  gap: var(--fe6-space-2xs);
}

.fe6-flex {
  display: flex;
}

.fe6-padding-sm {
  padding: var(--fe6-space-sm);
}

.fe6-flex-center {
  justify-content: center;
  align-items: center;
}

.fe6-height-4xl {
  height: 16rem;
}

.fe6-bg-primary {
  --fe6-bg-o: 1;
  background-color: hsla(var(--fe6-color-primary-hsl), var(--fe6-bg-o, 1));
}

.fe6-bg-contrast-lower {
  --fe6-bg-o: 1;
  background-color: hsla(var(--fe6-color-contrast-lower-hsl), var(--fe6-bg-o, 1));
}

.fe6-bg-accent {
  --fe6-bg-o: 1;
  background-color: hsla(var(--fe6-color-accent-hsl), var(--fe6-bg-o, 1));
}

.fe6-gap-sm {
  gap: var(--fe6-space-sm);
}

.fe6-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.fe6-grid > * {
  min-width: 0;
  grid-column-end: span 12;
}

.fe6-margin-right-3xs {
  margin-right: var(--fe6-space-3xs);
}

.fe6-appearance-auto {
  appearance: auto;
}

.fe6-items-center {
  align-items: center;
}

.fe6-gap-md {
  gap: var(--fe6-space-md);
}

.fe6-margin-bottom-md {
  margin-bottom: var(--fe6-space-md);
}

.fe6-bg-opacity-70\% {
  --fe6-bg-o: 0.7;
}

.fe6-hide {
  display: none !important;
}

@media(min-width: 32rem){
  .fe6-col-6\@xs {
    grid-column-end: span 6;
  }
}

@media(min-width: 64rem){
  .fe6-col-4\@md {
    grid-column-end: span 4;
  }
}