/* -------------------------------- 

File#: _1_slider
Title: Slider
Descr: Slider element for choosing numbers between a min and a max value
Usage: codyhouse.co/license

-------------------------------- */
/* reset */
*, *::after, *::before {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: hsl(0, 0%, 100%);
  font-family: system-ui, sans-serif;
  color: hsl(230, 7%, 23%);
  font-size: 1rem;
}

h1, h2, h3, h4 {
  line-height: 1.2;
  color: hsl(230, 13%, 9%);
  font-weight: 700;
}

h1 {
  font-size: 2.0736rem;
}

h2 {
  font-size: 1.728rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.2rem;
}

ol, ul, menu {
  list-style: none;
}

button, input, textarea, select {
  background-color: transparent;
  border-radius: 0;
  color: inherit;
  line-height: inherit;
  appearance: none;
}

textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}

a {
  color: hsl(250, 84%, 54%);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, video, svg {
  display: block;
  max-width: 100%;
}

@media (min-width: 64rem) {
  body {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 3.051rem;
  }

    h2 {
    font-size: 2.44rem;
  }

    h3 {
    font-size: 1.75rem;
  }

    h4 {
    font-size: 1.5625rem;
  }
}

/* variables */
:root {
  /* colors */
  --sl8-color-primary-hsl: 250, 84%, 54%;
  --sl8-color-bg-hsl: 0, 0%, 100%;
  --sl8-color-contrast-high-hsl: 230, 7%, 23%;
  --sl8-color-contrast-higher-hsl: 230, 13%, 9%;
  --sl8-color-contrast-lower-hsl: 240, 4%, 85%;
  --sl8-color-white-hsl: 0, 0%, 100%;
  --sl8-color-bg-dark-hsl: 240, 4%, 95%;
  --sl8-color-contrast-low-hsl: 240, 4%, 65%;

  /* spacing */
  --sl8-space-3xs: 0.25rem;
  --sl8-space-xs: 0.5rem;
  --sl8-space-sm: 0.75rem;
  --sl8-space-md: 1.25rem;
  --sl8-space-2xs: 0.375rem;

  /* typography */
  --sl8-text-sm: 0.833rem;
}

@media(min-width: 64rem){
  :root {
    /* spacing */
    --sl8-space-3xs: 0.375rem;
    --sl8-space-xs: 0.75rem;
    --sl8-space-sm: 1.125rem;
    --sl8-space-md: 2rem;
    --sl8-space-2xs: 0.5625rem;

    /* typography */
    --sl8-text-sm: 1rem;
  }
}

/* form elements */
.sl8-form-control {
  font-size: 1em;
  padding: var(--sl8-space-2xs) var(--sl8-space-xs);
  background: hsl(var(--sl8-color-bg-dark-hsl));
  line-height: 1.2;
  box-shadow: inset 0px 0px 0px 1px hsl(var(--sl8-color-contrast-lower-hsl));
  transition: all 0.2s ease;
  border-radius: 0.25em;
}

.sl8-form-control::placeholder {
  opacity: 1;
  color: hsl(var(--sl8-color-contrast-low-hsl));
}

.sl8-form-control:focus, .sl8-form-control:focus-within {
  background: hsl(var(--sl8-color-bg-hsl));
  box-shadow: inset 0px 0px 0px 1px hsla(var(--sl8-color-contrast-lower-hsl), 0), 0px 0px 0px 2px hsl(var(--sl8-color-primary-hsl)), 0 0.3px 0.4px rgba(0, 0, 0, 0.025),0 0.9px 1.5px rgba(0, 0, 0, 0.05), 0 3.5px 6px rgba(0, 0, 0, 0.1);
  outline: none;
}

/* component */
:root {
  --slider-width: 200px;
  --slider-track-height: 8px;
  --slide-thumb-size: 20px;
}

.slider {
  position: relative;
  width: var(--slider-width);
}

.slider__range {
  width: 100%;
  --slider-fill-value: 0%;
  --slider-empty-value: 100%;
}

.slider__input {
  display: block;
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

.slider__input:focus {
  outline: none;
}

.slider__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: var(--slide-thumb-size);
  height: var(--slide-thumb-size);
  border-radius: 50%;
  border: none;
  background-color: hsl(var(--sl8-color-white-hsl));
  box-shadow: 0 0.1px 0.3px rgba(0, 0, 0, 0.06),0 1px 2px rgba(0, 0, 0, 0.12), 0 0.3px 0.4px rgba(0, 0, 0, 0.025),0 0.9px 1.5px rgba(0, 0, 0, 0.05), 0 3.5px 6px rgba(0, 0, 0, 0.1);
  cursor: -webkit-grab;
  cursor: grab;
  margin-top: calc((var(--slider-track-height) - var(--slide-thumb-size)) * 0.5);
}

.slider__input:active::-webkit-slider-thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.slider__input::-moz-range-thumb {
  width: var(--slide-thumb-size);
  height: var(--slide-thumb-size);
  border-radius: 50%;
  border: none;
  background-color: hsl(var(--sl8-color-white-hsl));
  box-shadow: 0 0.1px 0.3px rgba(0, 0, 0, 0.06),0 1px 2px rgba(0, 0, 0, 0.12), 0 0.3px 0.4px rgba(0, 0, 0, 0.025),0 0.9px 1.5px rgba(0, 0, 0, 0.05), 0 3.5px 6px rgba(0, 0, 0, 0.1);
  cursor: grab;
}

.slider__input:active::-moz-range-thumb {
  cursor: grabbing;
}

.slider__input:active::-ms-thumb {
  cursor: grabbing;
}

.slider__input:focus::-webkit-slider-thumb {
  box-shadow: 0 0.1px 0.3px rgba(0, 0, 0, 0.06),0 1px 2px rgba(0, 0, 0, 0.12), 0 0.3px 0.4px rgba(0, 0, 0, 0.025),0 0.9px 1.5px rgba(0, 0, 0, 0.05), 0 3.5px 6px rgba(0, 0, 0, 0.1), 0 0 0 3px hsla(var(--sl8-color-primary-hsl), 0.2), 0 0.9px 1.5px rgba(0, 0, 0, 0.03),0 3.1px 5.5px rgba(0, 0, 0, 0.08),0 14px 25px rgba(0, 0, 0, 0.12);
}

.slider__input:focus::-moz-range-thumb {
  box-shadow: 0 0.1px 0.3px rgba(0, 0, 0, 0.06),0 1px 2px rgba(0, 0, 0, 0.12), 0 0.3px 0.4px rgba(0, 0, 0, 0.025),0 0.9px 1.5px rgba(0, 0, 0, 0.05), 0 3.5px 6px rgba(0, 0, 0, 0.1), 0 0 0 3px hsla(var(--sl8-color-primary-hsl), 0.2), 0 0.9px 1.5px rgba(0, 0, 0, 0.03),0 3.1px 5.5px rgba(0, 0, 0, 0.08),0 14px 25px rgba(0, 0, 0, 0.12);
}

.slider__input::-webkit-slider-runnable-track {
  height: var(--slider-track-height);
  border-radius: 50em;
  background-image: linear-gradient(to right, hsl(var(--sl8-color-primary-hsl)) var(--slider-fill-value), hsl(var(--sl8-color-contrast-lower-hsl)) var(--slider-fill-value), hsl(var(--sl8-color-contrast-lower-hsl)) var(--slider-empty-value));
  margin-top: calc((var(--slide-thumb-size) - var(--slider-track-height)) * 0.5);
}

.slider__input::-moz-range-track {
  height: var(--slider-track-height);
  border-radius: 50em;
  background-image: linear-gradient(to right, hsl(var(--sl8-color-primary-hsl)) var(--slider-fill-value), hsl(var(--sl8-color-contrast-lower-hsl)) var(--slider-fill-value), hsl(var(--sl8-color-contrast-lower-hsl)) var(--slider-empty-value));
}

.slider__input::-moz-focus-outer {
  border: 0;
}

.slider__input::-ms-tooltip {
  display: none;
}

.slider__input::-ms-thumb {
  width: var(--slide-thumb-size);
  height: var(--slide-thumb-size);
  border-radius: 50%;
  border: none;
  background-color: hsl(var(--sl8-color-white-hsl));
  box-shadow: 0 0.1px 0.3px rgba(0, 0, 0, 0.06),0 1px 2px rgba(0, 0, 0, 0.12), 0 0.3px 0.4px rgba(0, 0, 0, 0.025),0 0.9px 1.5px rgba(0, 0, 0, 0.05), 0 3.5px 6px rgba(0, 0, 0, 0.1);
  cursor: grab;
  transform: translateY(0);
  background-color: white !important;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
  height: 20px;
  width: 20px;
}

.slider__input:focus::-ms-thumb {
  box-shadow: inset 0 0 0 2px hsla(220deg, 90%, 56%, 0.2);
}

.slider__input::-ms-track {
  height: var(--slider-track-height);
  border-radius: 50em;
  background-image: linear-gradient(to right, hsl(var(--sl8-color-primary-hsl)) var(--slider-fill-value), hsl(var(--sl8-color-contrast-lower-hsl)) var(--slider-fill-value), hsl(var(--sl8-color-contrast-lower-hsl)) var(--slider-empty-value));
  background-color: hsl(240deg, 1%, 60%);
  color: transparent;
  height: 8px;
}

.slider--floating-value .slider__value {
  position: absolute;
  top: calc(0px - var(--sl8-space-md));
  left: var(--slide-thumb-size);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: var(--sl8-text-sm);
}

.slider--range-not-supported .slider__value {
  display: none;
}

/* utility classes */
.sl8-margin-top-xs {
  margin-top: var(--sl8-space-xs);
}

.sl8-text-center {
  text-align: center;
}

.sl8-sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  border: 0;
  white-space: nowrap;
}

.sl8-width-xl {
  width: 4rem;
}

.sl8-text-sm {
  font-size: var(--sl8-text-sm);
}

.sl8-margin-right-3xs {
  margin-right: var(--sl8-space-3xs);
}

.sl8-margin-top-sm {
  margin-top: var(--sl8-space-sm);
}